<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <h4 class="mb-3" th:text="|로그인: ${user.name}|">로그인 사용자 이름</h4>
    <hr class="my-4">
    <div class="row">
        <!-- 검색어 입력 폼 -->
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
            <button type="submit">검색</button>
        </form>

        <div th:if="${user.cafe.name != null}">
            <h3>카페 정보</h3>
            <p>카페 이름: <span th:text="${user.cafe.name}"></span></p>

            <h3>최신 포스트</h3>
            <ul>
                <li th:each="post : ${user.cafe.posts}" th:limit="3">
                    <span th:text="${post.title}"></span>
                </li>
            </ul>
        </div>

        <div th:if="${user.cafe == null}">
            <p>회원이 소속된 카페가 없습니다.</p>
        </div>
    </div>

    <div th:if="${user == null}">
        <p>카페에 가입해보세요!</p>
    </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>




<!--&lt;!&ndash; index.html &ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Main Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Main Page</h1>-->

<!--<div th:if="${user != null}">-->
<!--    <p>Welcome, <span th:text="${user.id}"></span>!</p>-->
<!--</div>-->
<!--<div th:unless="${user != null}">-->
<!--    <p>Welcome, Guest!</p>-->
<!--</div>-->

<!--&lt;!&ndash; 기타 내용 &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
