<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <h4 class="mb-3" th:text="|${user.name}님 안녕하세요!|">로그인 사용자 이름</h4>
    오늘 하루를 아카이브해보세요!
    <hr class="my-4">
    <div class="row">
        <!-- 검색어 입력 폼 -->
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
            <button type="submit">검색</button>
        </form>
        <!-- members 리스트가 비어있을 때 -->
        <div th:if="${#lists.isEmpty(members)}">
            <p>아직 가입한 아카이브 카페가 없어요.</p>
            <p>카페에 가입해보세요!</p>
        </div>

        <!-- members 리스트가 비어있지 않을 때 -->
        <div th:if="${not #lists.isEmpty(members)}">
            <ul>
                <li th:each="member : ${members}">
                    <span th:text="${member.cafe.name}"></span>
                    <div class="col">
                        <a th:href="@{/cafeHome(cafeId=${member.cafe.id})}" class="w-100 btn btn-dark btn-lg">
                            카페 진입
                        </a>
                    </div>
                </li>
            </ul>
        </div>


        <div th:if="${members == null}">
            <p>회원이 소속된 카페가 없습니다.</p>
        </div>
    </div>

    <div class="col">
        <form th:action="@{/logout}" method="post">
            <button class="w-100 btn btn-dark btn-lg" type="submit">
                로그아웃
            </button>
        </form>
    </div>

    <div class="col">
        <form th:action="@{/cafes/newCafe}" method="get">
            <button class="w-100 btn btn-dark btn-lg" type="submit">
                카페 생성
            </button>
        </form>
    </div>

</div> <!-- /container -->
</body>
</html>